<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/all.min.css" rel="stylesheet">
  <link href="/css/fontawesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>VanTiennn</title>
</head>
<body>
  
  <div class="container mt-5 pd-5">
    <div class="overlay" hidden></div>

    <!-- create grouppppppppppppppppppppppppppppp -->

    <div class="dialog" id="dialogCreateGroup" hidden>
      <!-- <i class="fas fa-check-circle"></i> checked -->
      <!-- <i class="far fa-check-circle"></i> uncheck -->
      <div class="dialog__header">
        <span class="dialog__header-title">Tạo nhóm</span>
        <div class="dialog__header-close" id="headerIconCloseCreateGroup"><i class="fas fa-times"></i></div>
      </div>

      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__name">
        <span class="dialog-title">Tên nhóm</span>
        <input type="text" id="name-group" class="dialog__name-input" placeholder="Nhập tên nhóm">        
      </div>

      <div class="dialog__group">
        <span class="dialog-title" id="count-user-checked">Mời thêm bạn vào cuộc trò chuyện (2) người</span>
        <input type="text" class="dialog__group-input" placeholder="Nhập tên muốn tìm">        
      </div>

      <div class="dialog__option" id="filter-user-create-group">
        <div class="dialog__option-container filter-user-dialog" data-option="all">
          <div class="fake-padding">
            <span class="dialog__option-text">Tất cả</span>
          </div>
        </div>
        <div class="dialog__option-container filter-user-dialog active" data-option="in_list">
          <div class="fake-padding">
            <span class="dialog__option-text">Đang trò chuyện</span>
          </div>
        </div>
        <div class="dialog__option-container filter-user-dialog" data-option="checked">
          <div class="fake-padding">
            <span class="dialog__option-text">Đã chọn</span>
          </div>
        </div>
        
      </div>

      <div class="dialog__choose">
        <div class="dialog__choose-checked" id="user-choose">
          <!-- <div class="dialog__choose-checked-item">
            <div class="fake-padding">
              <span class="dialog__choose-checked-item-name">Tien</span>
              <div class="container-close">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div> -->
        </div>
        <span class="dialog-title">Trò chuyện gần đây</span>
        <div class="dialog__choose-list" id="list-receiver-dialog">
          <!-- <div class="dialog__choose-item">
            <input type="checkbox" name="" id="" class="dialog__choose-item-input" data-name="Tien">
            <label for="" class="dialog__choose-item-label">Tien</label>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__footer">
        <div class="dialog__footer-container">
          <button class="dialog__footer-btn cancel" id="btnCloseCreateGroup">Hủy</button>
          <button class="dialog__footer-btn create" id="btn-create-group-chat">Tạo nhóm</button>
        </div>
      </div>
    </div>

    <!-- add grouppppppppppppppppppppppppppppp -->
    <div class="dialog" id="dialogAddGroup" hidden>
      <!-- <i class="fas fa-check-circle"></i> checked -->
      <!-- <i class="far fa-check-circle"></i> uncheck -->
      <div class="dialog__header">
        <span class="dialog__header-title">Mời tham gia nhóm</span>
        <div class="dialog__header-close" id="headerIconCloseAddGroup"><i class="fas fa-times"></i></div>
      </div>

      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__group">
        <span class="dialog-title" id="count-group-selected">Thêm vào nhóm (2)</span>
        <input type="text" class="dialog__group-input" placeholder="Nhập tên muốn tìm">        
      </div>

      <div class="dialog__choose">
        <span class="dialog-title">Đã chọn</span>

        <div class="dialog__choose-checked" id="groupSelected">
          <!-- <div class="dialog__choose-checked-item">
            <div class="fake-padding">
              <span class="dialog__choose-checked-item-name">Tien</span>
              <div class="container-close">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div> -->
        </div>
        <span class="dialog-title">Nhóm</span>
        <div class="dialog__choose-list" id="listGroupAddGroup">
          <!-- <div class="dialog__choose-item">
            <input type="checkbox" name="" id="" class="dialog__choose-item-input" data-name="Tien">
            <label for="" class="dialog__choose-item-label">Tien</label>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__footer">
        <div class="dialog__footer-container">
          <button class="dialog__footer-btn cancel" id="btnCloseAddGroup">Hủy</button>
          <button class="dialog__footer-btn create" id="btnAddGroup">Tạo nhóm</button>
        </div>
      </div>
    </div>


    <div class="dialog" id="dialogAddUser" hidden>
      <!-- <i class="fas fa-check-circle"></i> checked -->
      <!-- <i class="far fa-check-circle"></i> uncheck -->
      <div class="dialog__header">
        <span class="dialog__header-title">Chọn người để chat</span>
        <!-- <div class="dialog__header-close" id="headerIconCloseAddUser"><i class="fas fa-times"></i></div> -->
      </div>

      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__name">
        <span class="dialog-title">Tên người dùng</span>
        <input type="text" id="" class="dialog__name-input" placeholder="Nhập tên nhóm">        
      </div>

      <div class="dialog__group">
        <span class="dialog-title" id="count-user-add">Chọn thêm người bạn muốn trò chuyện (2) người</span>
        <input type="text" class="dialog__group-input" placeholder="Nhập tên muốn tìm">        
      </div>

      <div class="dialog__choose">
        <div class="dialog__choose-checked" id="user-add-checked">
          <!-- <div class="dialog__choose-checked-item">
            <div class="fake-padding">
              <span class="dialog__choose-checked-item-name">Tien</span>
              <div class="container-close">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div> -->
        </div>
        <span class="dialog-title">Trò chuyện gần đây</span>
        <div class="dialog__choose-list" id="list-user-add">
          <!-- <div class="dialog__choose-item">
            <input type="checkbox" name="" id="" class="dialog__choose-item-input" data-name="Tien">
            <label for="" class="dialog__choose-item-label">Tien</label>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12" style="background-color:#ccc;"></div>
      <div class="dialog__footer">
        <div class="dialog__footer-container">
          <!-- <button class="dialog__footer-btn cancel" id="btnCloseAddUser">Hủy</button> -->
          <button class="dialog__footer-btn create" id="btnCreateAdduser">Thêm</button>
        </div>
      </div>
    </div>

    

    <div class="d-flex justify-content-between">
      <h1 class="pb-5">Chat</h1>
      <div class="d-flex">
        <!-- <h3 id="username" data-name="<%- username%>"><%- nickname%></h3> -->
        <h3 id="username" data-name=""><></h3>
        <a href="/auth/logout" class="btn btn-primary ml-4 text-white logo">Logout</a>
      </div>
    </div>

    

    <div class="row">
      <div class="col-3">
        <div class="dialog__option" id="filter-checked-list">
          <div class="dialog__option-container filter-list-total-user active"  data-option="all">
            <div class="fake-padding">
              <span class="dialog__option-text">Tất cả</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user"  data-option="personal">
            <div class="fake-padding">
              <span class="dialog__option-text">Cá nhân</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user" data-option="group">
            <div class="fake-padding">
              <span class="dialog__option-text">Nhóm</span>
            </div>
          </div>
        </div>
        <ul id="list-chat-user" class="list-group">

        </ul>
      </div>
      
      <div class="col-6 container-chat">
        <div id="thread-chat">
          <!-- <h3 id="name-room">Alo alo</h3> -->
          <!-- <span>hihi</span> -->
            
        </div>
        <ul class="list-group bg-secondary" id="list-message">
        

        </ul>
        <div class="input-group container-send-message mb-3 mt-3">
          <input id="input-send-message"type="text" class="form-control" placeholder="Send some message ...">
          <button class="btn btn-outline-secondary" type="button" id="btn-send-message" data-idroom=<%-idRoom%>>Send</button>
        </div>
      </div>

      <div class="col-3">
        <div class="dialog__option" id="filter-total-list">
          <div class="dialog__option-container filter-list-total-user active"  data-option="personal">
            <div class="fake-padding">
              <span class="dialog__option-text">Cá nhân</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user" data-option="group">
            <div class="fake-padding">
              <span class="dialog__option-text">Nhóm</span>
            </div>
          </div>
        </div>
        <ul class="list-group" id="list-total-user">
        </ul>
      </div>
    </div>
    
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>