<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/all.min.css" rel="stylesheet">
  <link href="/css/fontawesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>VanTiennn</title>
</head>
<body>
  <i class="fab fa-facebook"></i>
  <div class="container mt-5 pd-5">
    <div class="d-flex justify-content-between">
      <h1 class="pb-5">Chat</h1>
      <div class="d-flex">
        <img class="avatar" src=<%- avatar%>>
        <h3 id="username" data-name="<%- username%>"><%- nickname%></h3>
        <a href="/auth/logout" class="btn btn-primary ml-4 text-white logo">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="dialog__option" id="filter-checked-list">
          <div class="dialog__option-container filter-list-total-user active"  data-option="all">
            <div class="container-option">
              <span class="dialog__option-text">Tất cả</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user"  data-option="personal">
            <div class="container-option">
              <span class="dialog__option-text">Cá nhân</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user" data-option="group">
            <div class="container-option">
              <span class="dialog__option-text">Nhóm</span>
            </div>
          </div>
        </div>
        <ul id="list-chat-user" class="list-group">

        </ul>
      </div>
      
      <div class="col-6 container-chat">
        <div id="thread-chat">
          <!-- <h3 id="name-room">Alo alo</h3> -->
          <!-- <span>hihi</span> -->
            
        </div>
        <ul class="list-group bg-secondary" id="list-message">
        </ul>
        <div class="input-group container-send-message mb-3 mt-3">
          <input id="input-send-message"type="text" class="form-control" placeholder="Send some message ...">
          <button class="btn btn-outline-secondary" type="button" id="btn-send-message" data-idroom=<%-idRoom%>>Send</button>
        </div>
      </div>

      <div class="col-3">
        <div class="dialog__option" id="filter-total-list">
          <div class="dialog__option-container filter-list-total-user active"  data-option="personal">
            <div class="container-option">
              <span class="dialog__option-text">Cá nhân</span>
            </div>
          </div>
          <div class="dialog__option-container filter-list-total-user" data-option="group">
            <div class="container-option">
              <span class="dialog__option-text">Nhóm</span>
            </div>
          </div>
        </div>
        <ul class="list-group" id="list-total-user">
        </ul>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/validate.js"></script>
  <script src="/js/home.js"></script>
  
  <script>

  </script>
</body>
</html>
